<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="2" verbose="5" parallel = "classes" name="ParallelTest">
    <classes>
      <class name="week6.day1.Testng_CreateContact"/>
      <class name="week6.day1.Testng_LeafTapsEdit"/>
      <class name="week6.day1.Testng_DuplicateLead"/>
    </classes>
  </test> <!-- Test -->
  
  <test verbose="5" name="SequentialTest">
    <classes>
      <class name="week6.day1.Testng_CreateContact"/>
      <class name="week6.day1.Testng_LeafTapsEdit"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
